[Unit]
Description=server
After=multi-user.target
[Service]
Type=forking
ExecStart=/bin/sh -c 'source etc/profile ; /home/root/server &'
Restart=on-failure
[Install]
WantedBy=multi-user.target